.housing {
    --housing-radius: 30px;

    width: 1150px;
    height: 700px;
    padding: 60px;
    box-sizing: border-box;
    background-color: $color-hardware-black;
    border-top-left-radius: var(--housing-radius);
    border-top-right-radius: var(--housing-radius);
}

.screen {
    width: 1030px;
    height: 565px;
    background-color: $color-old-screen;
}
