.container {
    margin: 50px auto;
    width: 700px;
}

.title {
    background-color: rgb(2, 0, 3);
    color: $color-old-screen;
    text-align: center;
    margin-bottom: 30px;
}

.entry {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(2, 0, 3);
}

.entryHeading {
    font-weight: bold;
}

.entryLine {
    display: flex;
    justify-content: space-between;
}

.editButton {
    margin-bottom: 20px;
}

.japanese {
    padding: 0 3px;
    background-color: $color-monochrome-black;
    color: $color-old-screen;
}
